# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output directories
dist/
build/
out/
coverage/

#backend stuff
bin/
obj/

# TypeScript
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# VS Code settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# OS-specific
.DS_Store
Thumbs.db

# Optional cache
.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
.temp/
.tmp/